/* CSS Document for Screens */
/* SOURCES

headshots
https://splinternews.com/the-irresistible-charm-and-talent-of-hinds-the-girl-ba-1793846737


*/
/**********************************************************
black - #000
white- #fff
DARK grey - #949494
light pink -#E1C0E0
pink - #E1C0E0
darker pink - #FEC7F8

light grey - #E7E7E7
tan - #E9CEBC
dingy blue - #718a94

Link Color:
Link Color Visited:
Link Color Hover:
Link Hover Background Color:

font-family: 'Amatic SC', cursive;
font-family: 'Comfortaa', cursive;
************************************************************/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Comfortaa:400,700');

body { font-family: 'Amatic SC', cursive; font-size: 16px; font-weight: 300; color: #fff; margin: 0; padding: 0;
background: grey;
}

#page { max-width: 1200px; height: auto; margin: 0 auto; position: relative; }

#background {background: linear-gradient( to bottom right, #FFFFFF  , #FFFFFF); }

/** GLOBAL STYLES **/

h1 { font-family: 'Amatic SC', cursive; margin: 0  0 1em 0; font-weight: 700; text-align: center; font-size: 8em; color: #E1C0E0; text-shadow: 2px 1px #000;}
h2 { font-family: 'Amatic SC', cursive; margin: 0em  0 0em 0; font-size: 2em; font-weight: 700;  text-align: center; color: #fff;}
h3 {   font-family: 'Comfortaa', cursive; margin: 0em  0 1em 0; font-size: 1.3em; font-weight: 400; color:#fff;  color: #E6C5E5;text-shadow: 1px 1px #fff;}
h4 {  font-family: 'Comfortaa', cursive; margin: 1.5em  0 1em 0; font-size: 1em; font-weight: 400; }

p {  font-family: 'Comfortaa', cursive; margin: 0 0 1em 0; text-align: center; font-size: 1em; color: #E1C0E0; }

a {  font-family: 'Comfortaa', cursive; color: #fff;  text-align: center; text-decoration: none; }
a:visited { color: #fff; }

h1 {
    margin: 0;
    padding: 0;
}

/** NAV **/
.caption-title {
/*    border: solid 2px #E1C0E0;*/
    border-radius: 25px;
}
/** BODY **/

body {
/*  padding-top: 40px;*/
    padding:0px;
  background: #fff;
    min-height: 100%;
    width: 100%;
}

/* Cover Image*/
.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#nav-1 h2 { display: inline; }
.about { background-color: rgba(24, 131, 189, .40); padding-top: 10px;}
.about img { padding-bottom: 20px;  }
.aboutmini p {background-color: rgba(254, 199, 248, 1.0); color: #000;
    padding: 20px;
    position: absolute;
       top: 1000px;
       right: 0;
       width: 800px;
       height: 500px;
      box-shadow: 15px 15px #fff;
}

/** ALBUMS **/

.Albums{ background-color: #fff; padding-top: 10px; border: 20px solid rgba(24, 131, 189, .40); }
.Albums h3 { text-shadow: 1px 1px #000;  padding-left:20px;}
.Albums dd { padding-left: 5px; }
.Albums img { padding-left: 20px; }
li { font-size:1.3em; color: #000; font-weight: 700; }
ul li { list-style: none; padding: 0; }



/** FORM  **/
form{ font-weight: 700; font-size: 1em; color: #000; padding-left: 20px; padding-right: 20px; }

form label { font-size: 1.2em; }




/** FOOTER **/
.Footer { background: #949494; }

.Footer h2 { color: #Fff; }

.Footer p { font-size: 1em; }

/** NAVIGATION **/
nav {
      margin-top: 40px;
      padding: 24px;
      text-align: center;
      font-family: Raleway;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    #nav-1 {
      background: #FEC7F8;
    }
    .link-1 {
      transition: 0.3s ease;
      background: #FEC7F8;
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      padding: 20px 0;
      margin: 0 20px;
    }
    .link-1:hover {
      border-top: 4px solid #ffffff;
      border-bottom: 4px solid #ffffff;
      padding: 6px 0;
    }

/***********************************/
@supports (grid-area: auto) {



    @media screen and (min-width: 10em) {
        .card>img{ object-fit: cover; width: 100%;
        }
        .HEADER>img { object-fit: cover;  width: 100%;
        }
        .cards {display: grid; grid-template-columns: repeat(2, 1fr);grid-gap: 1em; padding: 0; margin:0; }

        .cards a { margin-bottom: 0; }

        .card { display: grid; }

        .card img,
        .caption { grid-column: 1; grid-row: 1; }

    .caption{ opacity: 1; }

    /*a:focus .caption,
    a:hover .caption { opacity: 1; font-size: 1em; background:   hsla(000, 30%, 50%, .8); padding-bottom:0px; }*/

    a:focus h3,
    a:hover h3 {color: #E1C0E0;}

    .caption-title{ padding: 20px 50px; font-size: .8em; text-align: center; background: #585858; }

     a:focus .caption-title,
     a:hover .caption-title{ color: #E1C0E0; text-shadow: 1px 1px #fff; padding: 0; }



       }
    }

    @media screen and (min-width: 60em) {

        .cards { grid-template-columns: repeat(4, 1fr); }

    .caption-title{ padding: 20px 50px; font-size: 1em; }

    }


    @media screen and (max-width: 999px){
        .link-1 { font-size: 15px;}
        .about div p { width: 700px; position: absolute;
             top: 850px;
             right: 0;
             height: 300px; }

        .about img { width: 60%; }
        .Albums { position: absolute; width: 100%; top: 1200px; }
        .form { position: absolute; top: 3934px; width: 100%;}
        .Footer { position: absolute; top: 4740px; width: 100%; }

    }

    @media screen and (max-width: 825px){
        .link-1 { font-size: 12px;
        transition: 0.3s ease;
        background: #FEC7F8;
        color: #ffffff;
        text-decoration: none;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        padding: 8px 0;
        margin: 0 10px;}
        .link-1:hover {  border-top: 3px solid #ffffff;
          border-bottom: 3px solid #ffffff;
          padding: 1px 0; }
        .about div p { width: 700px; position: absolute;
             top: 850px;
             right: 0;
             height: 300px; }

        .about img { width: 60%; }
        .Albums { position: absolute; width: 100%; top: 1200px; }
        .form { position: absolute; top: 3934px; width: 100%;}
        .Footer { position: absolute; top: 4739px; width: 100%; }


    }
@media screen and (max-width: 745px){
   .form { position: absolute; top: 3972px; width: 100%;}
   .Footer { position: absolute; top: 4770px; width: 100%; }
}
@media screen and (max-width: 721px){
   .form { position: absolute; top: 4010px; width: 100%;}
   .Footer { position: absolute; top: 4800px; width: 100%; }
}
@media screen and (max-width: 700px){
     .link-1 { font-size: 12px;
    transition: 0.3s ease;
    background: #FEC7F8;
    color: #ffffff;
    text-decoration: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 8px 0;
    margin: 0 10px;}
    .link-1:hover {  border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      padding: 1px 0; }
    .about div p { width: 700px; position: absolute;
         top: 850px;
         right: 0;
         height: 300px; }
    .about img { width: 60%; }
    .Albums { position: absolute; width: 100%; top: 1200px; }
    .form { position: absolute; top: 4010px; width: 100%;}
    .Footer { position: absolute; top: 4820px; width: 100%; }


}

@media screen and (max-width: 650px) {
   .link-1 { font-size: 12px;
   transition: 0.3s ease;
   background: #FEC7F8;
   color: #ffffff;
   text-decoration: none;
   border-top: 3px solid #fff;
   border-bottom: 3px solid #fff;
   padding: 8px 0;
   margin: 0 10px;}

   .link-1:hover {  border-top: 3px solid #ffffff;
     border-bottom: 3px solid #ffffff;
     padding: 1px 0; }

    body { width: 100%; }

    h1 { font-size: 2em; text-align: left; }

    .caption { padding: 0;}

    .caption-title {  width: 100%; height: 20px; font-size: .7em; }

    .cards { grid-template-columns: repeat(1, 1fr) }

    .cards img { width: 50%; }

    .about img { width: 100%; }
    .about div p { width: 350px; top: 605px; right: 0; height: 420px; }

    .Albums { position: absolute; top: 1050px; width: 100%; }

    .albumnlist { text-align: center; width: 100%; }

    .AlbumnName  { display: block; padding-left: 40px; }

    .AlbumnName ol { font-size: .5em; }

    img { width: 300px; float: none; align-content: center; }

   .form { position: absolute; top: 3738px; width: 100%;}

    .Footer { position: absolute; top: 4548px; }
}

@media screen and (max-width: 625px){
    .form { position: relative; top: 2933px; width: 100%;}

     .Footer { position:relative; top: 2920px; }
}

@media screen and (max-width: 600px){
     .link-1 { font-size: 12px;
    transition: 0.3s ease;
    background: #FEC7F8;
    color: #ffffff;
    text-decoration: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 8px 0;
    margin: 0 10px;}
    .link-1:hover {  border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      padding: 1px 0; }
    .form { position: relative; top: 4433px; width: 100%; }
    .Footer { position: relative; top:4410px; }
}

@media screen and (max-width: 575px){
    .Footer { position: absolute; top:6060px; }
}
@media screen and (max-width:414px){
    .form { position: absolute; top: 5206px; width: 100%; }
    .Footer { position: absolute; top:6059px; }
}
@media screen and (max-width: 400px){
     .link-1 { font-size: 12px;
    transition: 0.3s ease;
    background: #FEC7F8;
    color: #ffffff;
    text-decoration: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 8px 0;
    margin: 0 10px;}
    .link-1:hover {  border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
      padding: 1px 0; }
    .form { position: absolute; top: 5283px; width: 100%; }
    .Footer { position: absolute; top:6150px; }
}

/******* ALBUM SPECIFIC  *******/

.Albums {
  margin: auto;
  max-width: 1200px;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

