/*Developer: Lezette Boutin
Table of Contents
HEADER - Discography Re-design: MAC Miller
MAINCONTENT - MAC Miller band & music information
FOOTER - copyrightht 2019
 Color Palette
#000 - black
#5B3E6A - purple
#C9F - light violet
#CCF - lavender
#922F44 - light wine
#C7526B - very light wine
#D3788C - salmon pink
#C7526B - darker salmon pink
#DEBAC7 - light mauve
#FEC7F8 - pink
#52750A - green
#FCDB3A - yellow
#FFF - white
*/
/* Global styles
---------------------------*/
/****** limited reset ******/
@import url('https://fonts.googleapis.com/css?family=Pompiere|Shadows+Into+Light&display=swap');

html, body, main, section, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, 
nav, span, div, img, figure, figcaption, footer, #submit{
	border: 0;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
*, *:before, *:after{
	box-sizing: border-box;
}

/* Main Content - phone sized
---------------------------*/

html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: #5B3E6A;
	display: grid;
	color: #C9F;
	font-family: 'Pompiere', cursive;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	overflow-x: hidden;
	text-shadow: .8px .8px #000;
	width: 100vw;
}
h1, h2, h3, h4, h5, h6, script{
	color: #922F44;
	font-family: 'Shadows Into Light', cursive;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 2px 2px #000, -1px -1px #D3788C;
	text-transform: uppercase;
}
p{
	color: #C9F;
	font-size: 1em;
}
.container{
	grid-column: 1/12;
	padding: 0;
}
#nav-1{grid-column: 1/12;}
.about{grid-column: 1/12;}
.Albums{grid-column: 1/12;}
.form{grid-column: 1/12;}
.Footer{grid-column: 1/12;}
:root{
	--primary-color: #52750A;
	--FEC7F8: #CCF;
}
#circle{
        border: 3px solid #FEC7F8;
        border-radius: 50%;
        bottom: 2%;
        color: transparent;
        height: 50px;
        position: absolute;
        right: 0;
        width: 50px;
        z-index: 1;
}


/* Header styling
---------------------------*/
.container img{
	grid-row: 2;
	width: 399px;
	}
.text-block{
	background: #52750A;
	border-bottom: 4px double #FCDB3A;
	position: absolute;
	left: 0;
	top: .6em;
	width: 3.2em;
}
.text-block h4, .text-block p{
	display: inline-block;
	line-height: 2.1em;
	writing-mode: vertical-lr;
}
.text-block h4{
	font-size: 1.4em;
	margin-top: .6em;
	text-shadow: 2px 2px 2px #000, -1px -1px #C7526B;
}
.text-block p{
	color: #000;
	font-size: 1.3em;
	margin: .2em 0 .64em .1em;
	text-shadow: none;
}

/* Navigation styling
---------------------------*/

a{
	color: #922F44;
	font-family: 'Shadows Into Light', cursive;
	font-size: 100%;
	font-weight: bold;
	line-height: 180%;
	margin: .1em 0 .2em 0;
	padding: .2em .3em;
	text-shadow: none;
}
a:hover{
	color: #52750A;
	cursor: pointer;
	text-decoration: underline;
}
#nav-1{
	background-color: #CCF;
	border-left: 4px double #FCDB3A;
	grid-column: 11/12;
	grid-row: 2;
	height: 60%;
	margin-top: 3em;
	overflow-x: hidden;
	padding-top: .3em;
	-webkit-position: sticky;
	position: sticky;
	right: 0;
	top: 0;
}
.tabs{
	display: inline-block;
	height: 100%;
	position: relative;
	width: 2em;
	writing-mode: vertical-lr;
	overflow-x: hidden;
}


/* About styling
---------------------------*/
.about{grid-row: 2;}
.about h1{margin-left: .3em;}
.about p{
	padding: 1em;
	width: 83%;
}

/* Albums styling
---------------------------*/
/*-- ****  albums  **** --*/

.Albums h1{margin-left: .3em;}
.cell h3{
	font-size: 150%;
	margin-left: .2em;
	width: 250px;
}
ul{
	list-style: none;
	margin: 0 0 1.4em .6em;
	width: 276px;
}

/* Main Form styling
---------------------------*/
/*-- ****  form  **** --*/

#emailHelp{text-shadow: none;} /*  in the form 'We'll never share...'  */
fieldset{
	margin-left: .6em;
	max-width: 86%;
}
form{
	margin: 0 auto;
	width: 100vw;
}
form h1{display: none;}
input, select, textarea, #ownername, #owneremail, #petname, 
#Comments, #terms{
	background-color: #DEBAC7;
	border: 1px solid #C7526B;
	outline: 3px solid #CCF;
}
label{
	margin-right: 5px;
}
legend{
	font-size: 1.4em;
	padding-top: .4em;
}
legend:before{
	color: #922F44;
	content: "NEWSLETTER \A";
	font-family: 'Shadows Into Light', cursive;
	font-size: 170%;
	font-weight: bold;
	margin-left: .2em;
	text-shadow: 2px 2px #000;
	text-transform: uppercase;
	white-space: pre;
}
#placeholder{color: #000;}
#terms, .btn{
	background-color: var(--primary-color);
	margin-left: 1em;
	margin-right: 5px
}

/* Footer styles
---------------------------*/
.Footer p{
	font-size: .88em;
	margin-bottom: 2.5%;
}

/* References page styles
---------------------------*/

.references{
	display: grid;
	grid-template-columns: 1fr;
	overflow-x: hidden;
}
.references a:hover{cursor: pointer;}
.references h1{margin-left: 1em;}
.references p{
	font-size: 100%;
	margin: 0 auto;
	padding: 0 .8em;
	width: 100vw;
	word-wrap: break-word;
}

/* larger screen styles 
-------------------------*/
 
@media screen and (min-width: 400px){

	.cell h3{
		margin-left: .1em;
		width: 340px;
	}
	.cell img{margin-left: 60px;}
	.container img{width: 499px;}
	form{margin-bottom: 4%;}
	.references p{
		font-size: 100%;
		margin: .2em; 
	}
	.text-block{
		position: absolute;
		left: 0;
		top: 2em;
		width: 3.95em;
	}
	.text-block h4, .text-block p{line-height: 3em;}
	.text-block p{margin: .2em 0 2.4em .1em;}
	ul{
		margin: 0 0 1.4em 1.8em;
		width: 276px;
	}
} 
@media screen and (min-width: 500px){

	.cell h3{width: 400px;}
	.container img{width: 100%;}
	.tabs{
		line-height: 3em;
		width: 3.2em;
	}
	.text-block{width: 4.8em;}
	.text-block h4, .text-block p{line-height: 3em;}
}
@media screen and (min-width: 600px){

	.cell h3{width: 500px;}
	#circle{
        position: absolute;
        bottom: 2%;
        right: 50%; 
	}
}
@media screen and (min-width: 630px){

	.cell h3{width: 560px;}
}
@media screen and (min-width: 700px){

	a{font-size: 120%;}
	.Albums{
		margin: 0 auto;
		width: 100vw;
	}
	.cell{
		margin: 0 auto;
		width: 47%;
	}
	.cell h3{
		margin-left: 2%;
		width: 290px;
	}
	.cell img{margin-left: .1%;}
	#circle{
        position: absolute;
        bottom: 2.5%; 
        right: 50%;
    }
	.Footer p{
		font-size: 1em;
		margin: 1em 25%;
	}
	.grid{
	    display: flex;
	    flex-direction: row; 
	    flex-wrap: wrap;
	    /*align-items: flex-start;   <-------- sticks song list to it's top  */
  	}
	.text-block{
		position: absolute;
		left: 0;
		top: 4em;
		width: 7.8em;
	}
	.text-block h4, .text-block p{line-height: 5.4em;}
	.text-block p{margin: .2em 0 3em .1em;}
	ul{
		margin: 0 0 1.4em .8em;
		width: 274px;
	}
}
@media screen and (min-width: 800px){

	.cell h3{width: 320px;}
	h1{font-size: 300%;}
	legend:before{
		content: "NEWSLETTER \A";
		font-size: 200%;
		white-space: pre;
	}
	#nav-1{margin-top: 4.477em;}
	p, ul, form{font-size: 1.15em;}
	ul{
		margin: 0 0 1.4em 1.2em;
		width: 330px;
	}
}
@media screen and (min-width: 900px){

	a{font-size: 140%;}
	form{
		margin: 0 auto 2em;
		max-width: 800px;
	}
	p, ul, form{font-size: 1.26em;}
	.text-block{width: 8em;}
	.text-block h4, .text-block p{line-height: 6em;}
	ul{
		margin: 0 0 1.4em 1.8em;
		width: 340px;
	}
}
@media screen and (min-width: 992px){

	.cell{width: 30%;}
	#circle{
        position: absolute;
        bottom: 2.8%; 
        right: 50%;
    }
	.Footer p{margin: 1em 35%;}
	ul{
		margin: 0 0 1.4em 1.1em;
		width: 330px;
	}
}
@media screen and (min-width: 1200px){

	a{font-size: 180%;}
	#circle{
        position: absolute;
        bottom: 2.7%; 
        right: 50%;
    }
	h1, h2, h3, h5, h6{font-size: 430%;}
	legend:before{
		content: "NEWSLETTER \A";
		font-size: 240%;
		white-space: pre;
	}
	#nav-1{margin-top: 6.42em;}
	.tabs{
		line-height: 4em;
		width: 4em;
	}
	.text-block{
		padding-bottom: 6em;
		width: 10.5em;
	}
	.text-block h4, .text-block p{
		font-size: 2em;
		line-height: 5em;
	}
	.text-block p{margin: .2em 0 3em -.034em;}
	ul{width: 340px;}
}
@media screen and (min-width: 1300px){

	a{font-size: 180%;}
	#circle{
        position: absolute;
        bottom: 2.8%; 
        right: 50%;
    }
    .Footer p{margin: 1em 38%;}
	ul{width: 350px;}
}
@media screen and (min-width: 1500px){

	p, ul, form{font-size: 1.4em;}
	.tabs{
		line-height: 4.8em;
		width: 5em;
	}
}
@media screen and (min-width: 1620px){

	.cell{width: 20%;}
	.cell h3{width: 290px;}
	#circle{
        position: absolute;
        bottom: 3.4%; 
        right: 50%;
    }
	.grid{margin-right: 5.6em;}
	ul{
		margin: 0 0 1.4em .8em;
		width: 280px;
	}
}
@media screen and (min-width: 1680px){

	.cell h3{width: 320px;}
	.Footer p{margin: 1em 40%;}
}




