/*Developer: Lezette Boutin
Table of Contents
HEADER - Discography Re-design: MAC Miller
MAINCONTENT - MAC Miller band & music information
FOOTER - copyrightht 2019
 Color Palette
#000 - black
#5B3E6A - purple
#C9F - light violet
#CCF - lavender
#922F44 - light wine
#C7526B - very light wine
#D3788C - salmon pink
#C7526B - darker salmon pink
#DEBAC7 - light mauve
#FEC7F8 - pink
#52750A - green
#FCDB3A - yellow
#FFF - white
*/
/* Global styles
---------------------------*/
/****** limited reset ******/
@import url('https://fonts.googleapis.com/css?family=Pompiere|Shadows+Into+Light&display=swap');

html, body, main, section, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, 
nav, span, div, img, figure, figcaption, footer, #submit{
	border: 0;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/* Main Content - phone sized
---------------------------*/

html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: #5B3E6A;
	display: grid;
	color: #C9F;
	font-family: 'Pompiere', cursive;
	font-size: 1em;
	font-weight: bold;
	/*height: 100%;*/
	letter-spacing: 1px;
	position: relative;
	overflow-x: hidden;
	text-shadow: .8px .8px #000;
	width: 100vw;
}
h1, h2, h3, h4, h5, h6, script{
	color: #922F44;
	font-family: 'Shadows Into Light', cursive;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 2px 2px #000, -1px -1px #D3788C;
	text-transform: uppercase;
}
p{
	color: #C9F;
	font-size: 1em;
}
.container{
	grid-column: 1/12;
	padding: 0;
}
#nav-1{
	grid-column: 1/12;
}
.about{
	grid-column: 1/12;
}
.Albums{
	grid-column: 1/12;
}
.form{
	grid-column: 1/12;
}
.Footer{
	grid-column: 1/12;
}
:root{
	--primary-color: #52750A;
	--FEC7F8: #CCF;
}
#circle {
        position: absolute;
        top: .1%;
        width: 50px;
        height: 50px;
        color: transparent;
        border: 3px solid #FEC7F8;
        border-radius: 50%;
}


/* Header styling
---------------------------*/
.container img{
	grid-row: 2;
	width: 399px;
	}
.text-block{
	background: #52750A;
	border-bottom: 4px double #FCDB3A;
	position: absolute;
	top: .6em;
	left: 0;
	width: 3.2em;
}
.text-block{
	background-image: url(images/star.svg) no-repeat bottom center;
	background-size: 10px;
}
.text-block h4, .text-block p{
	display: inline-block;
	line-height: 2.1em;
	writing-mode: vertical-lr;
}
.text-block h4{
	font-size: 1.4em;
	margin-top: .6em;
	text-shadow: 2px 2px 2px #000, -1px -1px #C7526B;
}
.text-block p{
	color: #000;
	font-size: 1.3em;
	margin: .2em 0 .64em .1em;
	text-shadow: none;
}

/* Navigation styling
---------------------------*/
#nav-1{
	grid-column: 11/12;
	grid-row: 2;
	height: 57%;
	margin-top: 3em;
	padding-top: .3em;
	background-color: #CCF;
	border-left: 4px double #FCDB3A;
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	right: 0;
}
#nav-1, ul{
	position: sticky;
	top: 0;
	right: 0;
}
.link-1{
	color: #922F44;
	word-wrap: break-word;
	z-index: 60;
}
a{
	color: #922F44;
	font-family: 'Shadows Into Light', cursive;
	font-size: 110%;
	font-weight: bold;
	line-height: 180%;
	margin: .1em 0 .2em 0;
	padding: .2em .3em;
	text-shadow: 2px 2px #000, -1px -1px #C7526B;
	text-shadow: none;
	z-index: 60;
}a:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #52750A;
}
.tabs{
	display: inline-block;
	word-wrap: break-word;
	writing-mode: vertical-lr;
	width: 2em;
}


/* About styling
---------------------------*/
.about{
	grid-row: 2;
}
.about h1{
	margin-left: .2em;
}
.about p{
	padding: .5em;
	width: 83%;
	word-wrap: 
}
.about img{
	grid-row: 1;
}

/* Albums styling
---------------------------*/
/*-- ****  albums  **** --*/

.Albums h1{
	margin-left: .2em;
}
.cell h3{
	font-size: 150%;
	margin-left: .1em;
	width: 250px;
}
ul{
	margin: 0 0 1.4em .6em;
	list-style: none;
	width: 276px;
}

/* Main Form styling
---------------------------*/
/*-- ****  form  **** --*/

fieldset{
	margin-left: .6em;
	max-width: 86%;
}
form{
	width: 100vw;
	margin: 0 auto;
}
form h1{
	display: none;
}
input, select, textarea, #ownername, #owneremail, #petname, 
#Comments, #terms{
	background-color: #DEBAC7;
	border: 1px solid #C7526B;
	outline: 3px solid #CCF;
}
legend{
	font-size: 1.4em;
	padding-top: .4em;
}
legend:before{
	content: "NEWSLETTER \A";
	color: #922F44;
	font-family: 'Shadows Into Light', cursive;
	font-size: 170%;
	font-weight: bold;
	margin-left: .2em;
	text-shadow: 2px 2px #000/*, -1px -1px #C7526B*/;
	text-transform: uppercase;
	white-space: pre;
}
#placeholder{
	color: #000:;
}
#terms, .btn{
	margin-left: 1em;
	background-color: var(--primary-color);
}
#emailHelp{
	text-shadow: none;
}

/* Footer styles
---------------------------*/
.Footer p{
	font-size: .88em;
	margin-bottom: 2.5%;
}

/* References page styles
---------------------------*/

.references{
	display: grid;
	grid-template-columns: 1fr;
	overflow-x: hidden;
}
.references a:hover{
	cursor: pointer;
}
.references h1{
	margin-left: 1em;
}
.references p{
	font-size: 100%;
	margin: 0 auto;
	padding: 0 .8em;
	width: 100vw;
	word-wrap: break-word;
}

/* larger screen styles 
------------------------- 
 https://css-tricks.com/almanac/properties/o/object-fit/   
 https://www.sitepoint.com/bootstrap-card-component-introduction/   --*/
@media screen and (min-width: 400px){

	.container img{
		width: 499px;
	}
	form{
		margin-bottom: 4%;
	}
	.text-block{
		position: absolute;
		top: 2em;
		left: 0;
		width: 3.95em;
	}
	.text-block h4, .text-block p{
		line-height: 3em;
	}
	.text-block p{
		margin: .2em 0 2.4em .1em;
	}
	.cell h3{
	margin-left: .1em;
	width: 340px;
	}
	.cell img{
		margin-left: 60px;
	}
	.references p{
		font-size: 100%;
		margin: .2em; 
		/*width: 280px;*/
	}
	ul{
		margin: 0 0 1.4em 1.8em;
		width: 276px;
	}
} 
@media screen and (min-width: 500px){

	.cell h3{
	width: 500px;
	}
	.container img{
		width: 100%;
	}
	.text-block{
		width: 4.8em;
	}
	.text-block h4, .text-block p{
		line-height: 3em;
	}
	.tabs{
		line-height: 3em;
		width: 3.2em;
	}
}
@media screen and (min-width: 700px){

	.Albums{
		margin: 0 auto;
		width: 100vw;
	}
	.cell{
		width: 47%;
		margin: 0 auto;
	}
	.cell h3{
		margin-left: 2%;
		width: 290px;
	}
	.cell img{
		margin-left: .1%;
	}
	.grid {
	    display: flex;
	    flex-direction: row; 
	    flex-wrap: wrap;
	    /*align-items: flex-start;   <-------- sticks song list to it's top  */
  	}
	.text-block{
		position: absolute;
		top: 4em;
		left: 0;
		width: 7.8em;
	}
	.text-block h4, .text-block p{
		line-height: 5.4em;
	}
	.text-block p{
		margin: .2em 0 3em .1em;
	}
	a{
		font-size: 120%;
	}
	.Footer p{
		font-size: 1em;
		margin-left: 1em;
	}
	#nav-1{
		z-index: 3;
	}
	ul{
		margin: 0 0 1.4em .8em;
		width: 274px;
	}
}
@media screen and (min-width: 800px){

	.cell h3{
		width: 320px;
	}
	h1{
		font-size: 300%;
	}
	legend:before{
	content: "NEWSLETTER \A";
	font-size: 200%;
	white-space: pre;
}
	#nav-1{
		margin-top: 4.477em;
	}
	p, ul, form{
		font-size: 1.15em;
	}
	ul{
		margin: 0 0 1.4em 1.2em;
		width: 330px;
	}
}
@media screen and (min-width: 900px){

	a{
		font-size: 140%;
	}
	form{
		margin: 0 auto 2em;
		max-width: 800px;
	}
	p, ul, form{
		font-size: 1.26em;
	}
	.text-block{
		width: 8em;
	}
	.text-block h4, .text-block p{
		line-height: 6em;
	}
	ul{
		margin: 0 0 1.4em 1.8em;
		width: 340px;
	}
}
@media screen and (min-width: 992px){

	.cell{
		width: 30%;
	}
	.Footer p{
		margin-left: 10%;	
	}
	#nav-1{
		z-index: 3;
	}
	ul{
		margin: 0 0 1.4em 1.1em;
		width: 330px;
	}
}

@media screen and (min-width: 1200px){

	a{
		font-size: 180%;
	}
	h1, h2, h3, h5, h6{
		font-size: 430%;
	}
	legend:before{
	content: "NEWSLETTER \A";
	font-size: 240%;
	white-space: pre;
}
	#nav-1{
		margin-top: 6.42em;
	}
	.tabs{
		line-height: 3em;
		/*width: 5em;*/
	}
	.text-block{
		padding-bottom: 6em;
		width: 10.5em;
	}
	.text-block h4, .text-block p{
		font-size: 2em;
		line-height: 5em;
	}
	ul{
		width: 340px;
	}
}

@media screen and (min-width: 1300px){

	a{
		font-size: 180%;
	}
	ul{
		width: 350px;
	}
}

@media screen and (min-width: 1500px){

	p, ul, form{
		font-size: 1.4em;
	}
	.tabs{
		line-height: 4em;
		width: 5em;
	}
}
@media screen and (min-width: 1620px){

	.grid {
	    margin-right: 5.6em;
  	}
	.cell {
	    width: 20%;
	  }
	.cell h3{
		width: 290px;
	}
	ul{
		margin: 0 0 1.4em .8em;
		width: 280px;
	}
}
@media screen and (min-width: 1680px){

	.cell h3{
		width: 320px;
	}

}




